<h3>
    <span>
        <img src="{{image}}"/>
        <span style="color: darkgreen;"> {{ pageHeader }}</span>
    </span>
</h3>

<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs">
            <li> <a routerLink="home"> Home </a> </li>
            <li> <a routerLink="employees"> Employees </a> </li>
        </ul>
        <br/>
        <br/>
        <router-outlet> </router-outlet>
    </div>
    <!--<div class="col-9">-->
        <!--<my-employee> </my-employee>-->
        <!--<emp-list> </emp-list>-->
    <!--</div>-->
</div>