<!DOCTYPE html>
<html>
<head>
    <base href="~/src/" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Way2Buy</title>
   
    
    @Styles.Render("~/Content/css")
</head>
<body>

<div class="container body-content">
    <div class="jumbotron">
        <h1>Way2Buy</h1>
        <p class="lead">Buy everything under sun.</p>    
    </div>
    @RenderBody()
    <hr/>
    <footer>
        
    </footer>
</div>
</body>
</html>

@RenderSection("scripts", required: false)
